# Gmail SMTP Configuration (Completely Free - 500 emails/day)
GMAIL_USER=aarjan.tiwarii@gmail.com
GMAIL_APP_PASSWORD=your_16_character_app_password

# Your Gmail address where you want to receive emails
TO_EMAIL=aarjan.tiwarii@gmail.com
